<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>371180580521-erh2pm0sumivj6gtkfk3k2262cndpl60.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.371180580521-erh2pm0sumivj6gtkfk3k2262cndpl60</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>371180580521-bup3p3g0vsnna3ju63qkiqpdtiljm6q5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC5XQ8RjIDhPNZcsFM7nEuFkflO34-RUNE</string>
	<key>GCM_SENDER_ID</key>
	<string>371180580521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jobesk.kikiiApp</string>
	<key>PROJECT_ID</key>
	<string>kikii-1cdea</string>
	<key>STORAGE_BUCKET</key>
	<string>kikii-1cdea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:371180580521:ios:9f1618c74e8948462683b8</string>
	<key>DATABASE_URL</key>
	<string>https://kikii-1cdea.firebaseio.com</string>
</dict>
</plist>